#root{
    background-color: #F5F5F5;
}
.App {
    /*text-align: center;*/
    width: 800px;
    margin: 0 auto 0;
    padding: 30px;
    /*height: 100vh;*/
    background-color: white;
}


.bg-box{
    background: radial-gradient(84.9% 100% at 50% 0%, #8F00FF 0%, #532BC5 100%);
    display: flex;
}

.check-icon{
    margin: auto auto;
    font-weight: bolder;
    font-size: 30px;
}



